body, html {
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 1.25em;
  color: #171a1c;
}

h1 {
  font-family: "Philosopher", sans-serif;
  font-size: 2em;
  color: #4e873d;
}

h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5em;
  color: #afbfdc;
}

h3 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #171a1c;
  text-align: right;
}

h4 {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5em;
  color: #4e873d;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

hr {
  width: 100%;
  color: #afbfdc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-width: thick;
  border-style: solid;
}

.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  max-width: 250px;
  max-height: 72px;
}

.header_text {
  align-content: center;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.featured_projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.project {
  align-content: stretch;
}

.project_thumbnail {
  order: 0;
  overflow: hidden;
  padding-bottom: 45%;
  height: 0;
  position: relative;
  border-color: #afbfdc;
  border-style: solid;
  border-width: thick;
}

.project_thumbnail .responsive {
  max-width: none;
  position: absolute;
  width: 105%;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.proj_title {
  order: 1;
  align-content: center;
}

.project_desc {
  order: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.footer {
  text-align: center;
  font-size: 1em;
}

@media screen and (max-width: 850px) {
  .featured_projects {
    align-items: center;
  }

  .project {
    max-width: 75%;
  }
  .project_desc {
    -webkit-line-clamp: 3;
  }
}

@media screen and (min-width: 850px) {
  .featured_projects {
    flex-direction: row;
    justify-content: space-between;
  }
  .project {
    width: 30%;
  }
}

@media screen and (min-width: 1250px) {
  .content {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}
